body{
    background-color: hsl(218, 23%, 16%);
    overflow: hidden; /* Hide scrollbars */
}
section{
    margin: auto;
    position: relative;
    margin-top: 15%;
    width: 55%;
    border-radius: 5px;
    box-shadow: 5px 5px #03142417;
    background: hsl(217, 19%, 24%);
    color: hsl(193, 38%, 86%);
    text-align: center;
    height: 375px;
}

.newadvise h3{
    font-family: 'Manrope', sans-serif;
    color: hsl(150, 100%, 66%);
    font-size: 14px;
    font-weight: 800;
    letter-spacing: 0.08rem;
    padding-top: 40px;
    padding-bottom: 0;
    text-align: center;
}
#adNum{
    font-family: 'Manrope', sans-serif;
    color: hsl(150, 100%, 66%);
    font-size: 14px;
    font-weight: 800;
    letter-spacing: 0.08rem;
}
#quote{
    font-size: 28px;
    text-align: center;
    padding: 20px;
    padding-top: 0;
}
.button {
    background-color: hsl(150, 100%, 66%);
    border: none;
    color: hsl(218, 23%, 16%);
    padding: 10px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    font-size: 16px;
    border-radius: 50%;
    position: absolute;
    top: 94%;
    transition: all 0.2s ease-in-out;
}
.button:hover{
    color: hsl(150, 100%, 66%);
    box-shadow: 0 5px 25px hsl(150, 100%, 66%);
}
.fa-dice-five{
    color: hsl(218, 23%, 16%);
}

.attribution { 
    margin-top: 50px;
    font-size: 11px; text-align: center; 
}
.attribution a { 
    color: hsl(228, 45%, 44%); 
}
